<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhotoUploader.Properties.Settings.PhotoStorageConnectionString"
            connectionString="Data Source=|DataDirectory|\PhotoStorage.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>